include ../atoms/_button_primary.jade
include ../atoms/_button_secondary.jade
include ../atoms/_main_title.jade
include ../atoms/_title.jade
include ../atoms/_menu_link.jade
include ../atoms/_language_link.jade
include ../molecules/_action_secondary.jade
include ../organisms/_tweets
include ./_hero.jade
include ./_hero_inner.jade
include ./_home_section.jade
include ./_section.jade

doctype
html
	head
		title Styleguide
		link(rel="icon", type="image/png", href="/styleguide/favicon.png")
		link(rel="stylesheet" href="/styleguide/fonts/Huge/stylesheet.css")
		link(rel="stylesheet" href="/styleguide/style/vendor/normalize.css")
		link(rel="stylesheet" href="/styleguide/style/vendor/skeleton.css")
		link(rel="stylesheet" href="/styleguide/style/main.css")
	body