mixin home_section(title, text)
	.section.u-cf
		.container
			.row
				.ten.columns.center
					+title(title)
					each paragraph in text
						p= paragraph
					+button_primary('start.html', public._data.commonTerms.getStarted[language])