mixin tweets(tweetsUrls)
    .tweetsContainer
        ul.clearfix
        - var i = 0
        - var count = tweetsUrls.length
        each tweet in tweetsUrls
            - i++
            - if (i < 15)
                input(type='hidden', class='tweetUrl', value=tweet)

        p.clear.more.text-center
            =count
            =public._data.commonTerms.counting[language]