- var commonTerms = public._data.commonTerms
- var git = '../../content/' + language + '/contributing/git.md'
- var creatingModules = '../../content/' + language + '/contributing/creating-modules.md'
- var changingStructure = '../../content/' + language + '/contributing/changing-structure.md'
- var reportingIssues = '../../content/' + language + '/contributing/reporting-issues.md'

include ../organisms/_head.jade

+hero_inner(commonTerms.contributing[language])

main.inner
	.section.u-cf.inner
		.container
			.row
				.ten.columns.center
					+title(commonTerms.branchingModel[language])
					!=partial(git)

	.section.u-cf.inner
		.container
			.row
				.ten.columns.center
					+title(commonTerms.creatingModules[language])
					!=partial(creatingModules)

	.section.u-cf.inner
		.container
			.row
				.ten.columns.center
					+title(commonTerms.changingStructure[language])
					!=partial(changingStructure)
	
	.section.u-cf.inner.no-border
		.container
			.row
				.ten.columns.center
					+title(commonTerms.report[language])
					!=partial(reportingIssues)

include ../organisms/_footer.jade