include ../organisms/_head.jade

+hero_inner('Download')

main.inner
	.section.u-cf.inner.no-border
		.container
			.row
				.ten.columns.center
					+title('Choose version')
					+button_primary('https://github.com/hugeinc/styleguide/archive/master.zip', 'Download for Mac')
					+button_primary('https://github.com/hugeinc/styleguide/archive/release/windows-linux.zip', 'Download for Windows/Linux')

include ../organisms/_footer.jade