- var commonTerms = public._data.commonTerms

include ../organisms/_head.jade
+hero('Styleguide.', [commonTerms.slogan[language]])

main.home
	.image
		.container
			img(src="images/gif2.gif")
	.container
		.text-center.use-cases
			+title(commonTerms.useCases[language])
		.row.use-cases
			.four.columns.box
				+title(commonTerms.living[language])
				!=partial('content/en_US/use-cases/living-styleguide.md')
			.four.columns.box
				+title(commonTerms.existing[language])
				!=partial('content/en_US/use-cases/existing-site.md')
			.four.columns.box
				+title(commonTerms.giveMe[language])
				!=partial('content/en_US/use-cases/give-me-one.md')
		.row
			.twelve.columns.text-center
				+button_primary('start.html', commonTerms.getStarted[language])

		.row.release-container
			.six.columns.box.text-center.release-main
				a(href="http://www.hugeinc.com/ideas/perspective/setting-style", target="_blank")
					.overlay
					+title(commonTerms.releaseEn[language])
			.six.columns.box.text-center.release-portuguese
				a(href="https://medium.com/@caiovaccaro/definindo-estilo-8d1130fc36bf", target="_blank")
					.overlay
					+title(commonTerms.releasePt[language])
		.row
			.twelve.columns.text-center
				+tweets(public._data.tweets)
include ../organisms/_footer.jade