- var commonTerms = public._data.commonTerms
- var showcase = '../../content/' + language + '/showcase/showcase.md'

include ../organisms/_head.jade

+hero_inner(commonTerms.showcase[language])

main.inner
	.section.u-cf.inner
		.container
			.row
				.ten.columns.center
					+title(commonTerms.madeWithLove[language])
					!=partial(showcase)

include ../organisms/_footer.jade