.action
	include ./_download.jade
	+button_primary('https://github.com/hugeinc/styleguide', 'Github Repository', '_blank')
	+button_primary('http://hugeinc.github.io/styleguide/demo/index.html', 'Online Demo', '_blank')