ul.menu.list-horz.list-plain
	+menu_link('download.html', 'Download')
	+menu_link('start.html', 'Getting Started')
	+menu_link('modules.html', 'Modules')
	//- +menu_link('showcase.html', 'Showcase')
	+menu_link('contributing.html', 'Contributing')
	+language_link('/en', 'EN', 'first')
	+language_link('/pt', 'PT')
	+language_link('/es', 'ES', 'last')
	li.styleguide-github-star
		iframe(src="https://ghbtns.com/github-btn.html?user=hugeinc&repo=styleguide&type=watch&count=true", frameborder="0", scrolling="0", width="170px", height="20px")